{% extends 'base.html' %} 
{% load bootstrap_tags %} 
{% block page_title %}{{ bug.name }} Details{% endblock %} 
{% block page_heading %}{{ bug.name }}{% endblock %} 

{% block content %} 

<p>{{ bug.time_stamp }}</p>
<p>{{ bug.description }}</p>

{% if bug.bug_or_feature == 'feature' %}

<form action="{% url 'add_to_cart' bug.id %}" method='POST'>
    {% csrf_token %}
    
    <input type="number" id="pledge" name="pledge"/>
    <button action="submit" class="btn btn-success">Add to Basket</button>
</form>

<p>Total Pledge: £{{ bug.pledge }}</p>

{% elif bug.bug_or_feature == 'bug' %}

<a class="btn btn-success" href="{% url 'upvote' bug.id %}">Upvote</a>

<p>Upvotes: {{ bug.upvotes }}</p>

{% endif %}

{% if request.user == bug.userID %}
<a class="btn btn-success" href="{% url 'edit_bug' bug.id %}">Edit Bug</a>
{% endif %}

<!--Comments section-->
<form method='POST'>
        {% csrf_token %}
        <div>
            {{ comment_form.body.errors }}
            {{ comment_form.body.label_tag }}
            {{ comment_form.body }}
        </div>
        <button type="submit" class="btn btn-success">Comment</button>
</form>


{% for comment in comments %}

<div>
{{ comment.body }}
{{ comment.time_stamp }}
</div>

{% endfor %}

{% endblock %}